# Source only
.gitmodules
.github/
.docs/
src/
data/
wiki/
tests/
unused/
test.js
CITATION.cff
TODO

# Build
.build/
coverage/
.travis.yml
.coveralls.yml
tsconfig.json
jest.config.js
rollup.config.js
build.js

# Data
assets/
configs/
index.txt
